<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="G:/GitHub/epam/com/epam/training/student_maksim_glushchenko/web-driver/src/test/java"><classes><class name="Tutanota.TutanotaSignInTest"><methods><include name="testBlankCredentials"/><include name="testInvalidCredentials"/><include name="testValidCredentials"/></methods></class><class name="Yahoo.YahooEmailTest"><methods><include name="testCorrectContentOfSentMail"/><include name="testSendEmail"/></methods></class><class name="Yahoo.YahooSignInTest"><methods><include name="testBlankCredentials"/><include name="testInvalidCredentials"/><include name="testValidCredentials"/></methods></class></classes></test></suite>